/* Página de apresentação */
.present-container {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: transform 1.8s cubic-bezier(.4,2,.3,1), opacity 1.2s;
}
.present-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.present-logo {
    width: 300px;
    max-width: 80vw;
    cursor: pointer;
    transition: transform 0.5s;
}
.present-container.hide {
    transform: translateX(-100vw);
    opacity: 0;
    pointer-events: none;
}

body {
    margin: 0;
    background: #000;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.story-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.stories {
    display: flex;
    width: 700%;
    height: 100%;
    transition: transform 0.8s ease;
}

.story {
    width: 100vw;
    height: 100vh;
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Fundo */
.background {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
}

/* Texto do Story */
.content {
    position: relative;
    color: white;
    padding: 20px;
    text-align: justify;
    max-width: 90%;
    margin-top: 40px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffffff; /* verde tradicional */
    text-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.text {
    position: absolute;
    left: 20px;
    bottom: 90px;
    color: #fff;
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
    max-width: 80%;
    margin: 35px 25px;
    z-index: 10;
}

@media (max-width: 600px) {
    .text {
        bottom: 120px; /* Sobe o texto para dar mais espaço para os indicadores */
        font-size: 14px;
        margin: 20px 10px;
    }
    .indicators {
        bottom: 15px; /* Garante que as bolinhas fiquem visíveis no mobile */
        /*z-index: 20;*/
    }
}

/* Indicadores */
.indicators {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 5px;
    background: #777;
    border-radius: 50%;
    display: inline-block;
    transition: 0.3s;
}

.dot.active {
    background: #ffffff;
    transform: scale(1.3);
}